
.addTool-container {
    width: 100%;
    color: var(--colorFont);
    background-color: var(--colorDark1);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: addTool 500ms ease-in-out;
    flex-direction: column;
    position: relative;
}
@keyframes addTool {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.addtool-content {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    
}

.items-addtool {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 1rem;
}
.items-addtool > label {
    font-size: .85rem;
    color: #808080;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    /* color: var(--colorDark3); */
    transition: all 200ms ease-in-out;
}
.items-addtool > input[type='text'] {
    outline: none;
    width: 100%;
    font-size: .85rem;
    padding-left: .35rem;
    height: 1.5rem;
}
.items-addtool > input[type='text']:focus + label, 
    .items-addtool > input:valid + label {
        top: -7px;
        color: var(--colorFont);
        font-size: .75rem;
       
}
.items-addtool > p {
    font-size: .65rem;
    font-style: italic;
    color: #ff0000;
}
.items-addtool > textarea {
    outline: none;
    width: 100%;
    padding: .35rem;
    font-size: .85rem;
    resize: none;
}

.items-addtool > input[type='number'] {
    outline: none;
    width: 100%;
    font-size: .85rem;
    padding-left: .35rem;
    height: 1.5rem;
}

.items-addtool > input[type='file'] {
    width: 100%;
} 

.items-addtool > input[type='button'], .items-addtool > input[type='reset'] {
    width: 3.5rem;
    height: 1.5rem;
    background-color: var(--colorSuccess);
    color: #fff;
    border: transparent;
    border-radius: 5px;
}
.items-addtool > input[type='reset'] {
    background-color: var(--colorDanger);
}
.items-addtool > input[type='button']:hover, .items-addtool > input[type='reset']:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.items-addtool:nth-child(6) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.addtool-close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2%;
    padding-right: 5%;
}
.addtool-close > div {
    color: var(--colorFont);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addtool-close > div:hover {
    cursor: pointer;
}



.l-addTool {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;

}