@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --colorDarkModeBtn: #1a1a1a;



  --colorFont: #1a1a1a;
  --colorDark1: #f2f2f2;
  --colorDark2: #f4f4f4;
  --colorDark3: #f6f6f6;

  --colorDark13: #161b22;
  --colorDark23: #30363d;
  --colorDark33: #0d1117;

  --colorSuccess:#28a745;
  --colorDanger: #dc3545;
  --colorInfo:#007bff;
  --colorWarning: #ffc107;
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --showdowSmall: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  font-family: 'Roboto', sans-serif, Arial, Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
  scroll-behavior: smooth;
}

html {
  font-size: calc(15px + 0.390625vw);
}

::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}